.popup {
    position: absolute;
    background-color: black;
    border: 1px solid white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 470px;
    height: 150px;
    color: white;
    border-radius: 10px; /* For rounded corners */
}
.button{
    color: white; 
    background-color: rgba(116, 7, 179, 0.25);
    border-radius: 10px; 
    border: 1px solid rgba(116, 7, 179, 0.25);
    padding: 10px;
    width: 200px;
}